.heart-anim{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-right: 20px;
    .empty-heart{
        z-index: 2;
        position: relative;
        left: 50%;
    }
    &:hover{
        .full-heart{
            animation: full-heart 500ms linear forwards;
        }
    }
    &:focus{
        .full-heart, .empty-heart{
            font-weight: bold;
            color: $tertiary;
        }
    }
}
