.menu-card{
    height: 100%;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
    text-decoration: none;
    color: black;
    img{
        border-radius: 15px 15px 0 0;
    }
    &__text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: -3px;
        height: 75px;
        background-color: white;
        border-radius: 0px 0px 15px 15px;
        margin-bottom: 20px;
        .menu-title{
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 20px;
            >p{
                padding: 5px 0px;
            }
        }
        >a{
            text-decoration: none;
            color: black;
        }
        .new-menu{
            position: relative;
            top: -184px;
            left: 20%;
            color: darken($color: $tertiary, $amount: 50%);
            font-weight: 500;
            background-color: $tertiary;
            padding: 11px 15px;
            border-radius: 3px;
        }
    }
}
//---- MEDIA QUERIES 768 ----\\
@media screen and (min-width : 426px) {
    .bloc-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu-card{
        width: 100% ;
        margin: auto;
        .new-menu{
            top: 0;
            left: 0;
        }
    }
}
//---- MEDIA QUERIES 1024 ----\\
@media screen and (min-width : 768px) {
    .bloc-menu{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .menu-card{
        width: 45%;
    }
}
//---- MEDIA QUERIES 1440 ----\\
@media screen and (min-width : 1025px){
    .bloc-menu{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .menu-card{
        width: 40%;
    }
}
