.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    > h2{
        font-family: 'Roboto', sans-serif;
    }
    li{
        list-style: none;
        background-color: $bgcolor;
        padding: 25px;
        border-radius: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        :hover{
            color: $primary;
        }
    }
    i{
        position: relative;
        left: -10px;
        padding-right: 20px;
        color: grey;
        font-size: 20px;
    }
    span{
        position: relative;
        left: -35px;
        padding: 3px 8px;
        background-color: $primary;
        border-radius: 25px;
        color: white;
    }
}