
header{
    display: flex;
    margin: 20px auto 10px auto;
    max-width: 425px;
    align-items: center;
    i{
        color: black;
        font-size: 22px;
        margin-left: 20px;
        padding: 3px 4px;
    }
    img{
        margin: 0 auto;
    }
    .return-icon{
        display: none;
    }
}
// ---- MEDIA QUERIES 768 ---- \\
@media screen and (max-width : 768px) {

    header{
        max-width: 768px;
    }
}
//---- MEDIA QUERIES 1024\\
@media screen and (max-width : 1024px) {
    header{
        max-width: 1024px;
    }
}
//---- MEDIA QUERIES 1440\\
@media screen and (min-width : 1025px) {
    header{
        max-width: 1440px;
    }
}