main{
    max-width: 425px;
    margin: auto;
    > h2{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: bold;
        margin: 35px 65px 0px 65px;
    }
    > p{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        margin: 20px 40px;
    }
    
}
//---- MEDIA QUERIES 768 ----\\
@media screen and (max-width : 768px) {
    main{
        max-width: 768px;
        margin: auto;
    }
}
//---- MEDIA QUERIES 1024 ----\\
@media screen and (max-width : 1024px) {
    main{
        max-width: 1024px;
        margin: auto;
    }
}
//---- MEDIA QUERIES 1440 ----\\
@media screen and (min-width : 1025px) {
    main{
        max-width: 1380px;
        margin: auto;
    }
}