.section-explore{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0 40px;
    background-color: #f6f6f6;
    >h2{
        padding: 40px 20px 0 0;
    }
    >p{
        padding: 10px 0 25px;
    }
}

.section-step{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    > h2{
        padding-top: 50px;
        padding-left: 35px;
        padding-bottom: 35px;
    }
    > ul{
        margin: auto;
    }
}

.section-card{
    background-color: $bgcolor;
    max-width: 425px;
    margin: auto;
    padding: 22px;
    > h2{
        padding: 38px 0 20px;
    }
    img{
        height: 175px;
        width: 100%;
        object-fit: cover;
    }
}
//---- MEDIA QUERIES 768\\
@media screen and (max-width : 768px) {
    .section-step{
        >ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    .section-card{
        max-width: 768px;
    }
}
//---- MEDIA QUERIES 1024 ----\\
@media screen and (max-width : 1024px) {
    .section-step{
        >ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        }
    }
    .section-card{
        max-width: 1024px;
    }
}
//---- MEDIA QUERIES 1440 ----\\
@media screen and (min-width : 1025px) {
    .section-step{
        >ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        }
    }
    .section-card{
        max-width: 1380px;
    }
}